body{
	background-image: url(background.jpg);
    background-repeat: no-repeat;
	background-size: 1600px 650px;
	
}
h2{
	float: center;
}
input{ 
 background-color: orange;
}
h1{
	color: brown;
}
h2{
	color: blue;
}
